<form action="" id="register-form" enctype="multipart/form-data">
	
	<di class="ui-input-contain">
		<label for="first_name">First Name</label>
		<input type="text" name="first_name" id="first_name">	
	</di>
	
	<di class="ui-input-contain">
		<label for="last_name">Last Name</label>
		<input type="text" name="last_name" id="last_name">		
	</di>
	
	<di class="ui-input-contain">
		<label for="email">Email Address</label>
		<input type="text" name="email" id="email">	
	</di>

	<di class="ui-input-contain">
		<label for="phone">Phone Number</label>
		<input type="text" name="phone" id="phone">
	</di>	

	<di class="ui-input-contain">
		<label for="user_type">User Type</label>
		<select name="user_type" id="user_type">
			<option value="prospect">Prospective Tenant</option>
			<option value="tenant">New Tenant</option>
			<option value="manager">Space Manager</option>
		</select>
	</di>	

	<div class="ui-input-contain">
        <input type="text" name="password" id="password" required>        
        <label>Password</label>
    </div>

    <div class="ui-input-contain">
        <input type="text"  name="password_check" id="password_check" required>        
        <label>Confirm Password</label>
    </div>

    <button class="btn" id="user-register" type="submit">Sign Up Now</button>

</form>